
#main-container {
    width: 30%;
}

#main-container main {
    margin-top: -10%;
}

#main-container .row {
    margin-top: 5rem;
}

@media (max-width: 765px) {
    #main-container {
        width: 75% !important;
        max-width: 75% !important;
    }
}

@media (max-width: 575px) {
    #main-container .row {
        height: 70px;
    }
    #main-container main {
        margin-top: -10rem;
    }
}