
<a routerLink="/home">
    <i class="bi bi-arrow-left-square-fill position-fixed back-arrow"></i>
</a>

<div class="container-fluid h-100">
    <div class="row h-15 px-5 align-items-end">
        <div class="col h-75">
            <img class="h-100 d-block mx-auto" id="answer-icon" src="assets/answer.png">
        </div>
    </div>

    <div class="h-85 px-5 pb-5 pt-4 content-frame">
        <div class=" h-100 border border-dark px-4 py-3 content-container overflow-auto">
            <app-question-card *ngFor="let question of questionList | async" [question]="question" (submitEvent)="submit($event)"></app-question-card>
        </div>
    </div>
</div>

<!-- Error modal -->
<ng-template #errorModal let-modal>
    <div class="modal-header bg-danger text-white">
        <h3 class="modal-title" id="modal-basic-title">An error ocurred!</h3>
        <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body bg-danger text-white">
        <p>The question could not be rated.</p>
    </div>
</ng-template>