
textarea, textarea:focus {
    background-color: rgb(68, 68, 122) !important;
}

.card {
    background-color: rgb(36, 36, 71);
    border-radius: 0.75rem;
}

.card-text {
    color: rgb(198, 174, 255);
}

@media screen and (max-width: 850px) {
    #question-content-text, #answer-button {
        width: 100% !important;
        max-width: 100% !important;
    }
    #question-options, #answer-options {
        margin-right: auto;
    }
    #answer-button {
        margin-left: 0px !important;
        & p {
            margin-left: 2rem;
        }
    }
    .textarea-mobile {
        display: flex !important;

        & > div > textarea {
            height: 7em;
        }
    }
    .textarea-desktop {
        display: none;
    }
    #answer-button, #thumb-up-button, #thumb-down-button {
        display: flex !important;
        justify-content: center;
        margin-top: 2em !important;
    }
    #send-button, #cancel-button, #thumb-up-button, #thumb-down-button {
        width: auto;
    }
    #send-button, #thumb-down-button {
        margin-right: auto;
    }
    #cancel-button, #thumb-up-button {
        margin-left: auto;
    }
}