
<a routerLink="/home">
    <i class="bi bi-arrow-left-square-fill position-fixed back-arrow"></i>
</a>

<div class="container-fluid h-100">
    <div class="row h-15 px-5 align-items-end top-frame">
        <div class="col-9 mt-3 text-center icon-space">
            <i class="bi bi-journal-text d-block mx-auto" id="journal-icon"></i>
        </div>
    </div>

    <div class="h-85 px-5 pb-5 pt-4 content-frame">
        <div class=" h-100 border border-dark px-3 py-4 content-container overflow-auto">
            <app-message-card *ngFor="let msg of messageList" [message]="msg" (rateEvent)="onRate($event)"></app-message-card>
        </div>
    </div>
</div>