
<div class="container text-center h-100 d-flex flex-column p-3 justify-content-center" id="main-container">
    <main>
        <img width="150" src="assets/conch_shell_logo.png">
        <h1 class="mt-4">Login</h1>
        <div class="row align-items-center mt-5">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <label for="emailInput" class="form-label">Email address</label>
                <input type="email" id="emailInput" class="form-control" formControlName="email">

                <label for="passwordInput" class="form-label mt-3">Password</label>
                <input type="password" id="passwordInput" class="form-control" formControlName="password">

                <div class="col-sm h-100 mt-5 pb-4"><button type="submit" class="col h-100 btn btn-lg btn-primary">Submit</button></div>
            </form>
        </div>
    </main>
  </div>