
.card-icons i {
    color: rgb(236, 236, 236);
    font-size: 2.5em;
}

.card {
    background-color: rgb(36, 36, 71);
    border-radius: 0.75rem;
}

.card p {
    color: rgb(198, 174, 255);
}

@media screen and (max-width: 1000px) {
    .card-icons {
        padding-left: 30px;
        padding-right: 0px;
    }
    #thumb-up-button {
        padding-right: 0px;
    }
}

@media screen and (max-width: 575px) {
    .card-icons {
        padding: 0px 12px !important;
    }
    #thumb-up-button, #thumb-down-button {
        display: flex !important;
        justify-content: center;
        margin-top: 0 !important;
        padding-bottom: 5px !important;
        width: auto;
    }
}