<div class="card mt-3 mb-4" *ngIf="notification">
    <div class="row no-gutters py-3">

      <div class="card-icons col-sm-2 py-3 pl-5 text-center">
        <i class="bi bi-chat-dots" *ngIf="notification.type === 'answer'"></i>
        <i class="bi bi-hand-thumbs-up" *ngIf="(notification.type === 'questionRating' || notification.type === 'answerRating') && notification.content == 'up'"></i>
        <i class="bi bi-hand-thumbs-down" *ngIf="(notification.type === 'questionRating' || notification.type === 'answerRating') && notification.content == 'down'"></i>
      </div>

      <div class="col-sm-7">
        <div class="card-body">
          <div *ngIf="notification.type === 'answer'">
            <p class="card-text pb-3 border-bottom border-secondary fw-bold">
              You have received an answer for the following question:<br><span class="fw-normal">"{{ notification.context }}"</span>
            </p>
            <p>{{ notification.content }}</p>
          </div>
          
          <p class="card-text fw-bold" *ngIf="notification.type === 'questionRating' || notification.type === 'answerRating'">
            Your <span *ngIf="notification.type === 'questionRating'; else answerRating">question</span><ng-template #answerRating>answer</ng-template><br> 
            <span class="fw-normal">"{{ notification.context }}"</span><br> got a thumb {{ notification.content }}!
          </p>
        </div>
      </div>

      <div class="col-sm-auto py-4 ms-auto" id="thumb-up-button" *ngIf="notification.type == 'answer' && notification.rated == false">
        <button class="btn btn-success" (click)="onRate(1)"><i class="bi bi-hand-thumbs-up"></i></button>
      </div>
      <div class="col-sm-auto py-4 me-auto" id="thumb-down-button" *ngIf="notification.type == 'answer' && notification.rated == false">
        <button class="btn btn-danger" (click)="onRate(0)"><i class="bi bi-hand-thumbs-down"></i></button>
      </div>
    </div>
  </div>