
<a routerLink="/home">
    <i class="bi bi-arrow-left-square-fill position-fixed back-arrow"></i>
</a>

<div class="container text-center h-100 w-50 d-flex flex-column p-3 justify-content-center">
    <main>
        <img class="mb-5" width="180" src="assets/question_mark.png">
        <div>
            <textarea class="form-control mb-5" rows="5" maxlength="250"></textarea>
            <button type="submit" class="btn btn-primary btn-lg mb-3">Send</button>
        </div>
    </main>
    <footer></footer>
  </div>
