
<a routerLink="/home">
    <i class="bi bi-arrow-left-square-fill position-fixed back-arrow"></i>
</a>

<div class="container text-center h-100 d-flex flex-column p-3 justify-content-center">
    <main>
        <img id="questionmark-icon" class="mb-5" width="150" src="assets/question_mark.png">
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" *ngIf="sent == false && error == false">
            <textarea class="form-control mb-5" rows="5" maxlength="250" formControlName="question"></textarea>
            <button type="submit" class="btn btn-primary btn-lg mb-3">Send</button>
        </form>

        <!-- Success card -->
        <div class="card bg-success mb-5" *ngIf="sent == true">
            <div class="card-body text-white">
                <h5 class="card-title">Your question has been submitted!</h5>
                <p class="card-text">You can create another one in 3 minutes.</p>
            </div>
        </div>

        <!-- Error card -->
        <div class="card bg-danger mg" *ngIf="error == true">
            <div class="card-body">
                <h5 class="card-title" *ngIf="restrictionTime == 0">An error has occurred!</h5>
                <p class="card-text" *ngIf="restrictionTime == 0">The question could not be submitted.</p>

                <h5 class="card-title" *ngIf="restrictionTime != 0">Could not submit!</h5>
                <p class="card-text" *ngIf="restrictionTime != 0">{{ restrictionTime }} seconds until you can create another question!</p>
                
                <button id="retry-button" class="btn mt-2" (click)="error = false">Retry</button>
            </div>
        </div>        
    </main>
  </div>
