
textarea {
    resize: none;
}

.container {
    width: 35%;
}

#retry-button {
    background-color: #9e212e;
    color: white;
}

#questionmark-icon {
    -webkit-user-drag: none;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 50% !important;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 80% !important;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 90% !important;
    }
}