<div id="message-card" class="card mt-3 mb-4" *ngIf="message">
    <div class="row py-4">

      <div class="card-icon col-sm-2 py-2 text-center">
        <i class="bi bi-question-circle" *ngIf="message.type === 'question'"></i>
        <i class="bi bi-chat-dots" *ngIf="message.type === 'answer'"></i>
      </div>

      <div class="message-text col-sm-7 d-flex justify-content-center flex-column">
        <span *ngIf="message.type === 'answer'" id="message-context" class="pb-3 mb-2 border-bottom border-secondary">
            Your answer to the question "{{message.context}}"
        </span>
        <span>{{message.content}}</span>
      </div>

      <div id="rating-numbers" class="rating-icon col-sm-2 d-flex align-items-center justify-content-end pe-0">
        <i class="bi bi-hand-thumbs-up text-success mx-2"></i>
        <span>{{message.thumbsUp}}</span>
        <i class="bi bi-hand-thumbs-down text-danger mx-2"></i>
        <span>{{message.thumbsDown}}</span>
      </div>

      <div *ngIf="message.type == 'question'" id="answers-dropdown" class="text-center">
        <i *ngIf="isCollapsed == true" type="button" class="bi bi-caret-down-fill" (click)="collapse.toggle();" [attr.aria-expanded]="!isCollapsed"></i>
        <i *ngIf="isCollapsed == false" type="button" class="bi bi-caret-up-fill" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"></i>
        
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div *ngFor="let answer of answers | async" class="card mx-3 mb-3">
            <div class="card-body row g-0 px-5 py-4 align-items-center ">
              <div class="col-sm-8 text-start">
                <span>{{ answer.content }}</span>
              </div>
              <div *ngIf="answer.rated == false" class="col-sm-auto ms-auto" id="thumb-up-button">
                <button class="btn btn-success" (click)="onRate(answer.id, 1)"><i class="bi bi-hand-thumbs-up"></i></button>
              </div>
              <div *ngIf="answer.rated == false" class="col-sm-auto ms-3" id="thumb-down-button">
                <button class="btn btn-danger" (click)="onRate(answer.id, 0)"><i class="bi bi-hand-thumbs-down"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>