
.card-icon i, #answers-dropdown i {
    color: rgb(236, 236, 236);
}

.card-icon {
    & i {
        font-size: 2.5em;
    }
    & span {
        font-size: 18px;
    }
}

.card {
    background-color: rgb(36, 36, 71);
    border-radius: 0.75rem;
    & span, & p {
        color: rgb(198, 174, 255);
    }
}

#rating-numbers {
    & i {
        font-size: 2.2em;
    }
}

#message-context {
    font-size: 14px;
    color: rgb(170, 148, 223);
}

#answers-dropdown {
    margin-bottom: -20px;
    & > i {
        font-size: 2.1em;
    }
}

@media screen and (max-width: 900px) {
    .card-icon, .message-text, #rating-numbers {
        width: 100%;
        justify-content: center !important;
        padding-left: 30px;
        padding-right: 30px !important;
        padding-bottom: 12.5px;
    }
    .message-text {
        align-items: center;
    }
    #message-card > .row {
        padding: 0 !important;
    }
    #rating-numbers {
        margin-left: -5px;
    }
    #answers-dropdown {
        margin-bottom: 0px;
    }
}