
.card-icon i {
    color: rgb(236, 236, 236);
}

.card {
    background-color: rgb(54, 54, 122);
    border-radius: 0.75rem;
    & span, & p {
        color: rgb(198, 174, 255);
    }
    & .card-body {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
}

@media screen and (max-width: 1000px) {
    #thumb-up-button {
        padding-right: 0px;
    }
}

@media screen and (max-width: 650px) {
    #thumb-up-button, #thumb-down-button {
        display: flex !important;
        justify-content: center;
        margin-top: 2em !important;
    }
    #thumb-up-button, #thumb-down-button {
        width: auto;
    }
    #thumb-down-button {
        margin-right: auto;
    }
    #thumb-up-button {
        margin-left: auto;
    }
}