/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

.h-85 {
    height: 85%;
}

.h-40 {
    height: 40%;
}

.h-15 {
    height: 15%;
}

.main-background {
    background-color: $teal-200;
    $enable-negative-margins: true;
}

.back-arrow {
    top: 15px;
    left: 25px;
    font-size: 2.5rem;
    color: black;
}

.content-container {
    background-color: #c4defc;
}

@media screen and (min-width: 760px) {
    .content-container {
        padding-left: 3.5rem !important;
        padding-right: 3.5rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .content-container {
        margin-left: 8rem;
        margin-right: 8rem;
    }
    #clearing-button {
        margin-right: 8rem;
    }
}

@media screen and (min-width: 1500px) {
    .content-container {
        margin-left: 15rem;
        margin-right: 15rem;
    }
    #clearing-button {
        margin-right: 15rem;
    }
}

@media screen and (min-width: 1700px) {
    .content-container {
        margin-left: 20rem;
        margin-right: 20rem;
    }
    #clearing-button {
        margin-right: 20rem;
    }
}