/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

.h-85 {
    height: 85%;
}

.h-40 {
    height: 40%;
}

.h-15 {
    height: 15%;
}

.main-background {
    background-color: $teal-200;
    $enable-negative-margins: true;
}

.back-arrow {
    top: 15px;
    left: 25px;
    font-size: 2.5rem;
    color: black;
}

.content-container {
    background-color: #c4defc;
}
