/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

$main-button-color: #4e68df;

html {
    font-size: 17px;
}

textarea, textarea:focus, input, input:focus {
    background-color: rgb(97, 97, 97) !important;
    color: white !important;
}

textarea {
    resize: none;
}

main h1 {
    color: rgb(136, 114, 207) !important;
}

.btn-primary {
    @include button-variant($main-button-color, darken($main-button-color, 7.5%), rgb(227, 214, 255), lighten($main-button-color,5%), lighten($main-button-color, 10%), darken($main-button-color,30%));
}

.h-85 {
    height: 85%;
}

.h-40 {
    height: 40%;
}

.h-15 {
    height: 15%;
}

.main-background {
    background-color: rgb(28, 27, 36);
    $enable-negative-margins: true;
}

.modal-header {
    border-bottom: 1px solid #6e6e6e !important;
    padding: 1rem 1.5rem;
}

main p, .modal-header, .modal-body p, .modal-body h4, .modal-title, .modal-body label, .modal-body button {
    color: rgb(227, 219, 255) !important;
}

.modal-content {
    background-color: #46445a;
}

.modal-body {
    padding: 1.5rem;
}

.modal-body button {
    background-color: #5e7bff !important;
}

.back-arrow {
    top: 20px;
    left: 30px;
    font-size: 2.5rem;
    color: #4e67d4;
}

.content-container {
    background-color: #353b5f;
}

@media screen and (min-width: 760px) {
    .content-container {
        padding-left: 3.0rem !important;
        padding-right: 3.0rem !important;
    }
}

@media screen and (min-width: 1200px) {
    .content-container {
        margin-left: 8rem;
        margin-right: 8rem;
    }
    #clearing-button {
        margin-right: 8rem;
    }
}

@media screen and (min-width: 1500px) {
    .content-container {
        margin-left: 15rem;
        margin-right: 15rem;
    }
    #clearing-button {
        margin-right: 15rem;
    }
}

@media screen and (min-width: 1700px) {
    .content-container {
        margin-left: 22rem;
        margin-right: 22rem;
    }
    #clearing-button {
        margin-right: 22rem;
    }
}

@media screen and (max-width: 800px) {
    .content-frame {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .top-frame {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

::-webkit-scrollbar {
    width: 11px;
}
  
::-webkit-scrollbar-track {
    background: #bbbee0; 
}

::-webkit-scrollbar-thumb {
    background: #5264b6; 
}

::-webkit-scrollbar-thumb:hover {
    background: #6b80df; 
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(182, 182, 182) !important;
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(179, 168, 219);
}