
main i {
    color: rgb(194, 194, 194);
}

#main-container {
    width: 25%;
}

#main-container main {
    margin-top: -10%;
}

#main-container .row {
    margin-top: 5rem;
}

#main-container i {
    font-size: 125px;
    color: rgb(194, 194, 194);
}

@media (max-width: 1440px) {
    #main-container {
        width: 35% !important;
        max-width: 35% !important;
    }
}

@media (max-width: 810px) {
    #main-container {
        width: 75% !important;
        max-width: 75% !important;
    }
}

@media (max-width: 575px) {
    #main-container .row {
        height: 70px;
    }
    #main-container main {
        margin-top: -10rem;
    }
    #reg-button {
        font-size: 1rem;
        top: 1.5rem;
        right: 1.5rem;
    }
}