
<i class="bi bi-info-square-fill info-icon position-fixed"></i>

<div class="container text-center mt-n3 h-100 d-flex flex-column p-3 justify-content-center">
    <main>
        <img width="150" src="../../assets/conch_shell_logo.png">
        <h1 class="mt-4">The Magic Conch Shell</h1>
        <div class="row p-5 mt-5 align-items-center">          
            <p class="col ml-auto"><a routerLink="/question" class="btn btn-lg btn-primary">Create question</a></p>
            <p class="col"><a routerLink="/notifications" class="btn btn-lg btn-primary">Answers and Ratings</a></p>
            <p class="col"><a routerLink="/answer" class="btn btn-lg btn-primary">Answer Questions</a></p>
        </div>
    </main>
    <footer></footer>
  </div>

<router-outlet></router-outlet>
