
<i id="settings-icon" class="bi bi-gear-fill position-fixed cursor-pointer" (click)="openModal(settings)"></i>
<i id="info-icon" class="bi bi-info-square-fill position-fixed cursor-pointer" (click)="openModal(info)"></i>
<button id="logout-button" class="btn btn-danger position-fixed" (click)="logout()">Logout</button>

<div class="container text-center h-100 d-flex flex-column p-3 justify-content-center" id="main-container">
  <main>
      <img id="conch-shell-logo" width="150" src="assets/conch_shell_logo.png">
      <h1 class="mt-4">The Magic Conch Shell</h1>
      <div id="main-buttons" class="row align-items-center">          
          <div class="col-sm h-100 pb-4">
            <button [routerLink]="['/home/question']" routerLinkActive="router-link-active"  class="btn h-100 btn-lg btn-primary">Create question</button>
          </div>
          <div class="col-sm h-100 pb-4">
            <button [routerLink]="['/home/answer']" routerLinkActive="router-link-active"  class="col h-100 btn btn-lg btn-primary">Answer Questions</button>
          </div>
          <div class="col-sm h-100 pb-4">
            <button [routerLink]="['/home/history']" routerLinkActive="router-link-active"  class="col h-100 btn btn-lg btn-primary position-relative">
              View answers & ratings
              <span *ngIf="newAnswer == true" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
            </button>
          </div>
      </div>
  </main>
</div>

<!-- Settings Modal -->
<ng-template #settings let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Settings</h3>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body py-4">
    <button class="btn btn-primary" [disabled]="notifEnabled == true" (click)="enableNotifications()">Enable Push Notifications</button>
    <span *ngIf="notifEnabled == true" class="text-success ms-4 fw-bold">Enabled!</span>
      <div *ngIf="notifLoading == true" class="spinner-border ms-4 text-light" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    <br><br>
    <button class="btn btn-danger mt-5" (click)="openModal(deleteAcc)">Delete Account</button>
  </div>
</ng-template>

<!-- Info Modal -->
<ng-template #info let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Info</h3>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <h4>How it works</h4>
      <p>- After you've created a question, it gets assigned to some random users.
        <br>- Questions may only be created once in 3 minutes.
        <br>- Please write questions and answers in english.
      </p><br><br>
      <button class="btn btn-primary mb-2" (click)="openModal(feedback)">Feedback</button>
  </div>
</ng-template>

<!-- Feedback Form Modal -->
<ng-template #feedback let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Feedback</h3>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <form>
        <label class="form-label" for="feedbackField">Let me know about any suggestions, criticism <br>or feature requests!</label>
        <textarea class="form-control" type="text" id="feedbackField" rows="5" #feedbackField></textarea>
        <button class="btn btn-primary form-control" (click)="sendFeedback(feedbackField.value)">Send</button>
      </form>
  </div>
</ng-template>

<!-- Confirm deletetion modal -->
<ng-template #deleteAcc let-modal>
  <div class="modal-header bg-danger text-white">
      <h3 class="modal-title" id="modal-basic-title">Are you sure about that?</h3>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body bg-danger pt-3 text-white d-flex flex-column align-items-center">
      <img width="250" class="me-3" src="./assets/john-cena-are-you-sure-about-that.gif">
      <button id="deletion-confirm-btn" class="btn btn-danger mt-5" (click)="deleteAccount()">Confirm</button>
  </div>
</ng-template>

<!-- Confirm deletetion modal -->
<ng-template #confirmDeletion let-modal>
  <div class="modal-header bg-danger text-white">
      <h3 class="modal-title" id="modal-basic-title">Confirmation</h3>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body bg-danger pt-3 text-white d-flex flex-column align-items-center">
      <p>Please enter your password to confirm the deletion.</p>
      <input type="password" class="form-control" #passwordConfirm>
      <button id="deletion-confirm-btn" class="btn btn-danger mt-5" (click)="confirmAccDelete(passwordConfirm.value)">Confirm</button>
  </div>
</ng-template>

<!-- Success modal -->
<ng-template #successModal let-modal>
  <div class="modal-header bg-success text-white">
      <h3 class="modal-title" id="modal-basic-title">Thanks!</h3>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body bg-success text-white">
      <p>Your feedback was successfully submitted!</p>
  </div>
</ng-template>

<!-- Error modal -->
<ng-template #errorModal let-modal>
  <div class="modal-header bg-danger text-white">
      <h3 class="modal-title" id="modal-basic-title" *ngIf="feedbackLimited == false">An error ocurred!</h3>
      <h3 class="modal-title" id="modal-basic-title" *ngIf="feedbackLimited == true">Too many entries</h3>
      <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body bg-danger text-white">
      <p *ngIf="feedbackLimited == false">Your feedback could not be submitted!</p>
      <p *ngIf="feedbackLimited == true">Please try again later.</p>
  </div>
</ng-template>