
<i class="bi bi-info-square-fill info-icon position-fixed cursor-pointer" (click)="openInfo(content)"></i>

<div class="container text-center h-100 d-flex flex-column p-3 justify-content-center" id="main-container">
    <main>
        <img width="150" src="assets/conch_shell_logo.png">
        <h1 class="mt-4">La coquille de conque magique</h1>
        <div class="row align-items-center">          
            <div class="col-sm h-100 pb-4"><button [routerLink]="['/question']" routerLinkActive="router-link-active"  class="btn h-100 btn-lg btn-primary">Create question</button></div>
            <div class="col-sm h-100 pb-4"><button [routerLink]="['/notifications']" routerLinkActive="router-link-active"  class="col h-100 btn btn-lg btn-primary">Answers and Ratings</button></div>
            <div class="col-sm h-100 pb-4"><button [routerLink]="['/answer']" routerLinkActive="router-link-active"  class="col h-100 btn btn-lg btn-primary">Answer Questions</button></div>
        </div>
    </main>
  </div>

  <!-- Info Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Info</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </ng-template>

<router-outlet></router-outlet>
