
#main-container .row {
    height: 110px;
}

#info-icon, #settings-icon {
    font-size: 2.5rem;
    color: blue;
    top: 1.5rem;
    right: 8rem;

    &:hover {
        cursor: pointer;
    }
}

#conch-shell-logo {
    -webkit-user-drag: none;
}

#settings-icon {
    right: 12rem;
    transition: transform .7s;
    
    &:hover {
        transform: rotate(90deg);
    }
}

#info-icon:hover {
    opacity: 0.6;
    transition: 0.4s;
}

#logout-button {
    top: 2.25rem;
    right: 2rem;
}

#main-container {
    width: 45%;
}

#main-container main {
    margin-top: -10%;
}

#main-container .row {
    margin-top: 5rem;
}

@media (max-width: 1650px) {
    #main-container {
        width: 48% !important;
        max-width: 48% !important;
    }
}

@media (max-width: 1120px) {
    #main-container {
        width: 75% !important;
        max-width: 75% !important;
    }
}

@media (max-width: 720px) {
    #main-container {
        width: 85% !important;
        max-width: 85% !important;
    }
}

@media (max-width: 635px) {
    #main-container .row {
        height: 130px;
    }
}

@media (max-width: 575px) {
    #main-container .row {
        height: 70px;
    }
    #main-container main {
        margin-top: -40%;
    }
    #conch-shell-logo {
        width: 125px;
    }
    #main-buttons {
        margin-top: 3.5rem !important;
    }
}