
<a routerLink="/home">
    <i class="bi bi-arrow-left-square-fill position-fixed back-arrow"></i>
</a>

<div class="container-fluid h-100">
    <div class="row h-15 px-5 align-items-end">
        <div class="col-9">
            <img class="float-end mr-5 notification-icon" width="100" src="assets/answer.png">
        </div>
        <div class="col">
            <button class="btn btn-danger float-end">Clear</button>
        </div>
    </div>

    <div class="row h-85 px-5 pb-5 pt-4">
        <div class="border border-dark notification-container"></div>
    </div>
</div>