
#journal-icon {
    font-size: 72px;
    margin-left: 30% !important;
}

@media screen and (max-width: 575px) {
    .content-container {
        padding-top: 0.5rem !important;
    }
}

@media screen and (max-width: 500px){
    #clearing-button {
        position: fixed;
        top: 1.7rem;
        right: 1.7rem;
    }
    .icon-space {
        width: 84%;
    }
    #journal-icon {
        font-size: 55px;
        margin-left: 20% !important;
    }
}

@media screen and (max-height: 700px) {
    #journal-icon {
        font-size: 55px;
    }
}