
<a routerLink="/home">
    <i class="bi bi-arrow-left-square-fill position-fixed back-arrow"></i>
</a>

<div class="container-fluid h-100">
    <div class="row h-15 px-5 align-items-end top-frame">
        <div class="col-9 h-75 icon-space">
            <img class="float-end h-100" id="notification-icon" src="assets/notification_bell.png">
        </div>
        <div class="col">
            <button class="btn btn-danger float-end" id="clearing-button" (click)="clearNotifs()">Clear</button>
        </div>
    </div>

    <div class="h-85 px-5 pb-5 pt-4 content-frame">
        <div class=" h-100 border border-dark px-4 py-4 content-container overflow-auto">
            <app-notif-card *ngFor="let notif of notifList | async" [notification]="notif"></app-notif-card>
        </div>
    </div>
</div>