
<a routerLink="/home">
    <i class="bi bi-arrow-left-square-fill position-fixed back-arrow"></i>
</a>

<div class="container-fluid h-100">
    <div class="row h-15 px-5 align-items-end">
        <div class="col-9 h-75">
            <img class="float-end h-100" id="notification-icon" src="assets/notification_bell.png">
        </div>
        <div class="col">
            <button class="btn btn-danger float-end">Clear</button>
        </div>
    </div>

    <div class="row h-85 px-5 pb-5 pt-4">
        <div class="border border-dark content-container">
            <app-notif-card *ngFor="let notif of notifList" [notification]="notif"></app-notif-card>
        </div>
    </div>
</div>